<header class="clearfix">

    <!-- Branding -->
    <div class="branding {{main.settings.brandingColor}}">
        <a class="brand" ui-sref="app.dashboard">
            <fa name="hand-paper-o" ng-hide="m.dragging || m.adding"></fa>
            <fa name="hand-grab-o" ng-show="m.dragging || m.adding"></fa>
            <span><strong>Drag &amp; Drop</strong> <div class="subtitle">Dashboard Concept</div></span>
        </a>
        <a href="javascript:;" class="offcanvas-toggle visible-xs-inline" offcanvas-sidebar><i class="fa fa-bars"></i></a>
    </div>
    <!-- Branding end -->

    <!-- Left-side navigation -->
    <ul class="nav-left pull-left list-unstyled list-inline">
        <li class="sidebar-collapse divided-right">
            <a href="javascript:;" collapse-sidebar>
                <fa name="outdent"></fa>
            </a>
        </li>
    </ul>
    <!-- Left-side navigation end -->
</header>
