<div id="sidebar-wrap" ng-controller="NavCtrl">
    <uib-accordion close-others="oneAtTime" slimscroll="{height: '100%'}">

        <uib-accordion-group is-open="status.isFirstOpen">
            <uib-accordion-heading>
                Navigation <i class="pull-right fa" ng-class="{'fa-angle-up': status.isFirstOpen, 'fa-angle-down': !status.isFirstOpen}"></i>
            </uib-accordion-heading>
            <ul id="navigation" nav-collapse ripple>
                <li>
                    <a ui-sref="app.dashboard" ui-sref-active="active">
                        <fa name="dashboard"></fa>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a ui-sref="app.billing" ui-sref-active="active">
                        <fa name="money"></fa>
                        Billing
                    </a>
                </li>
                <li>
                    <a ui-sref="app.customers" ui-sref-active="active">
                        <fa name="users"></fa>
                        Customers
                    </a>
                </li>
                <li>
                    <a ui-sref="app.about" ui-sref-active="active">
                        <fa name="building"></fa>
                        About
                    </a>
                </li>
                <li>
                    <a ui-sref="app.inserts" ui-sref-active="active">
                        <fa name="download"></fa>
                        Inserts
                    </a>
                </li>

            </ul>
        </uib-accordion-group>



    </uib-accordion>
</div>
